.git/
assets/

# Mac OSX specific files
**/.DS_Store

# Home folder files 
.bash_history
.tmux_history
.bashrc.original
.cache/
.hushlogin
.java/
.lesshst
.local/
.profile
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.vscode-server/
.wget-hsts
.zshrc
Documents/
.bash_logout
.config/powershell
.config/user-dirs.dirs
.config/nvim/autoload/
.config/nvim/plugged
