# blacklist all files
/*

# whitelist repo files
!.bashrc
.config/nvim/
!.config/nvim/init.vim
!.gitconfig
!.gitignore
!.hushlogin
!.inputrc
!.lesskey
!.profile
!.tmux.conf
!README.md
!copy.sh
!iterm2-profiles-macos/profile.json
!microsoft_windows_terminal_settings/settings.json
!obtain_assets.sh
!run.sh
!scripts/
scripts/assets/
!vscode-macos/
!vscode/

# Allow .vsvimrc
!.vsvimrc
